.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.content {
    display: grid;
    grid-template-areas:
        "gall gall"
        "titl modr"
        "pric modr"
        "desc modr"
        "char modr"
        "sell sell"
        "acts acts";
    gap: 8px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 300px repeat(5, 1fr);
    width: 100%;
    max-width: 800px;
}

.carousel {
    grid-area: gall;
    width: 100%;
    align-self: stretch;
    display: flex;
    gap: 4px;
    justify-items: center;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.carouselImage {
    height: 100%;
    object-position: center;
    scroll-snap-align: start;
}

.characteristics {
    grid-area: char;
}

.price {
    grid-area: pric;
    justify-self: right;
}

.price * {
    font-size: 2.5rem;
}

.description {
    grid-area: desc;
}

.seller {
    grid-area: sell;
}

.timeline {
    overflow: scroll;
    padding-block: 8px;
}

.moderation {
    grid-area: modr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.actions {
    grid-area: acts;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.actionsMain {
    display: flex;
    gap: 8px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.prevNext {
    display: flex;
    gap: 8px;
}

.title {
    font-size: 1.25rem;
}

@media screen and (max-width: 480px) {
    .title {
        font-size: .25rem;
    }
    .actions {
        flex-direction: column;
        align-items: stretch;
    }

    .actionsMain {
        justify-content: end;
    }
}

@media screen and (max-width: 800px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .carousel {
        flex-shrink: 0;
    }

    .actions {
        order: 2;
    }
    .moderation {
        order: 1;
    }
}
