.listApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
}

.content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding: 24px;
    position: relative;
}

.spinner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ads {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 800px;
}

.main {
    display: flex;
    justify-content: center;
	overflow-y: scroll;
	padding: 8px;
}

.footer {
    position: sticky;
    bottom: 0;
    padding: 10px 20px;
}

.aside {
	overflow-x: hidden;
}

@media screen and (max-width: 800px) {
    .aside {
        position: absolute;
		z-index: 10;
		height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .ads {
        grid-template-areas: none;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 16px;
    }
}

@media screen and (max-width: 370px) {
    .ads {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
