.card {
    display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.value {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}